.homepage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sideNav-wrapper {
  width: 15%;
  height: 100%;
  background-color: #83bca9;
  padding-top: 10px;
}

.post-wrapper {
  margin: 20px;
  width: 80%;
  height: 100%;
}

.test {
  width: 100%;
}

/*-- LOGOUT-- */
.logout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #83bca9;
  border-radius: 15px;
  margin: 50px;
  font-size: 24px;
  padding: 20px;
  font-weight: bold;
  color: #83bca9;
}
