* {
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.form-wrapper {
  height: 50%;
  width: 30%;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f6f6f6;
  opacity: 0.9;
  margin-top: 150px;
}
/* --BUTTON-- */
.btn {
  color: white;
  background-color: #ec9a29;
  border: none;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #2f4858;
}
